@import './../../styles/variables';

.site-header {
  background-color: #f1f8fc;
  max-height: 110px;
  width: 100%;
  position: relative;
  z-index: 1000;

  .logo-image {
    max-height: 80px;
    width: auto;
  }

  .nav-link-custom {
    margin: 0 25px;
    font-weight: 500;
    color: #384050;

    &:hover {
      color: #0074c7;
    }
  }

  // Barre de recherche
  .search-input {
    height: 38px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #dee2e6;
  }

  .search-button {
    height: 38px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #dee2e6;
    background-color: #0074c7;
    color: white;

    &:hover {
      background-color: #00497c;
    }
  }

  .navbar-toggler {
    font-size: 24px;
    border: none;
    background: transparent;
  }

  .navbar-collapse {
    position: relative;
    z-index: 1001;
    background-color: #f1f8fc;
    
    @media (max-width: 991px) {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}